<div>
  <h2>List of engineers</h2>
  <table class='table-responsive table table-bordered' *ngIf="engineers">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let engineer of engineers; let i = index">
        <th scope="row">
          {{ i + 1 }}
        </th>
        <td>
          {{ engineer.name }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
