<div>
  <h2>List of available sprints</h2>
  <table class='table-responsive table table-bordered' *ngIf="sprints">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sprint of sprints; let i = index">
        <th scope="row">
          {{ i + 1 }}
        </th>
        <td>
          {{ sprint.startDate.format('dddd, MMMM Do YYYY') }}
        </td>
        <td>
          {{ sprint.endDate.format('dddd, MMMM Do YYYY') }}
        </td>
        <td><a href="{{ router.createUrlTree(['/sprints/details', sprint.id]).toString() }}">View</a></td>
      </tr>
    </tbody>
  </table>
</div>
