<div>
  <h2>List of shifts</h2>
  <table class='table-responsive table table-bordered' *ngIf="shifts">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th>Start time</th>
        <th>End time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shift of shifts; let i = index">
        <th scope="row">
          {{ i + 1 }}
        </th>
        <td>
          {{ shift.start }}
        </td>
        <td>
          {{ shift.end }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
