<h1>Supprot Wheel Fate Application</h1>
<h2>General overview</h2>
<p>Welcome Supprot Wheel Fate Application. It allows you to schedule your support engineers shifts.</p>
<p>
  To create a schedule just go to <a href="/sprints/create">Create sprint</a> page and
  create a Sprint. A sprint is a list of Engineers, Shifts and dates.
  This application doesn't have yet functionality to Create or Edit Engineers and Shifts.
  Instead trhey are created automatically when applications starts first time.
  You can view auto generated Engineers and Sprints by clicking <a href="/engineers/list">Engineers list</a> and <a href="shitfs/list">Shifts list</a> from left menu.
</p>
<h3>Create Sprint</h3>
<p>In order to create scprint you have to choose start and end date. Application will try to create a schedule for given interval using available shifts and engineers. There might be case when application is not able to create schedule for given interval. In this case a validation message is displayed. For interval of 10 calendar days it always works.</p>

<h2>Technical details</h2>
<p>The system is a SPA page which uses .NET core for API and Angular for fron-end rendering. For persistency Entity Framework Core is used. </p>
<p> Solution consists of 4 projects:</p>
<ul>
  <li><b>SupportWheelFate.Angular</b> - Project for static front-end files. It uses Angular for rendering.</li>
  <li><b>SupportWheelFate.Api</b> - .NET Core application for API.</li>
  <li><b>SupportWheelFate.Domain</b> - DLL project with all Domain objects and BLL services.</li>
  <li><b>SupportWheelFate.Domain.Tests</b> - Tests for classes from SupportWheelFate.Domain project.</li>
</ul>

<h3>Scheduling algorithm</h3>
<p>
  Scheduling problems are type of NP-complete problems which can be solved using metaheuristic algorithms.
  There are some libraries which can solve this kind of problems, but I have experience only with python implementations.
  Because constraints of this problem are relatively simple I tried to implement my own solver. It can be found in SupportWheelFate.Domain.Solvers.Solver
  class. The algorithm behind it at each step generates list of available engineers and choses randomly one.
  If available engineers list is empty and solution is not found it means that current configuration is not part of feasible solutions.
  In this case current configuration is added to tabu list and one step back is made.
  From this point algorithm tries to generate another configuration and can advance if available engineers list is not empty or make a step back.
</p>
<p>If all possible solutions are in tabu list and algorithm is at first step it means that there are no feasible solutions for current configuration and an exceptions is thrown.</p>


<h3>Data Access Layer</h3>
<p>
  As DAL Entity Framework Core 2.0 is used.
  There are no repositories because this project is too simple and adding Repository pattern over EF DbCotext
  would add unneeded complexity. In order to reuse queries static extension methods are created.
  In order to deploy DB EF Migrations are used. Default connection string points LocalDB database.</p>

<h3>Unit tests</h3>
<p>Unit tests use NUnit as testing framework and <a href="https://github.com/AutoFixture/AutoFixture">AutoFixture</a> for object creation.
  For integration tests EF is configured to use in Memory DB.</p>
