<div class="">
  <table class='table-responsive table table-bordered' *ngIf="sprintWeek.sprint.days">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="col-md-2">Time</th>
        <th *ngFor="let day of sprintWeek.dates; let i = index" scope="col">
          {{ day.format('dddd, MMMM Do YYYY')}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shift of sprintWeek.shifts; let i = index">
        
        <th scope="row">
            {{ shift.start | date: 'HH:mm' }} - {{ shift.end | date: 'HH:mm'}}
        </th>
        <td *ngFor="let day of sprintWeek.dates; let j = index" [ngClass]="isInDateRange(day) ? 'light-cell' : ''">
          <sprint-day [date]="day" [days]="sprintWeek.sprint.days" [shiftId]="shift.id"></sprint-day>
        </td>
      </tr>
    </tbody>
  </table>
</div>
