<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Menu</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
          <ul class='nav navbar-nav'>
            <li [routerLinkActive]="['link-active']">
              <a [routerLink]="['/home']">
                <span class='glyphicon glyphicon-home'></span> Readme
              </a>
            </li>
            <li [routerLinkActive]="['link-active']">
              <a [routerLink]="['/sprints/create']">
                <span class='glyphicon glyphicon-education'></span> Create Sprint
              </a>
            </li>
            <li [routerLinkActive]="['link-active']">
              <a [routerLink]="['/sprints/list']">
                <span class='glyphicon glyphicon-th-list'></span> Sprints list
              </a>
            </li>
            <li [routerLinkActive]="['link-active']">
              <a [routerLink]="['/engineers/list']">
                <span class='glyphicon glyphicon-th-list'></span> Engineers list
              </a>
            </li>
            <li [routerLinkActive]="['link-active']">
              <a [routerLink]="['/shifts/list']">
                <span class='glyphicon glyphicon-th-list'></span> Shifts list
              </a>
            </li>
          </ul>
        </div>
    </div>
</div>
