<div *ngIf="sprint">
  <h2>Sprint details for {{ sprint.startDate | date: 'dd/MM/yyyy'}} - {{ sprint.endDate | date: 'dd/MM/yyyy'}} period</h2>
  <div class="" >
    <div>
      <sprint-week *ngFor="let week of weeks" [sprintWeek]="getSprintWeek(week)"></sprint-week>
    </div>
  </div>
</div>

