<h1>Create Support Wheel of Fate</h1>
<div class="col-xs-6 col-6 col-md-4 col-lg-3 form-group">
  <div class="alert alert-danger" role="alert" *ngIf="errors.length > 0">
    <ul>
      <li *ngFor="let error of errors">
        {{ error }}
      </li>
    </ul>
  </div>
  <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
</div>
<div class="col-xs-12 col-12 col-md-3 form-group">
  <button class="btn btn-success" (click)="create()">Create</button>
</div>
